.mezoterapia-container {
  position: relative;
  width: 100%;
  top: 75px;
}

.mezo-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  position: relative;
  flex-direction: column;
  width: 100%;
}

.mezo-title h1 {
  font-size: 36px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: #000; 
  margin: 0;
  position: relative;
}

.mezo-title p {
  font-family: sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 11px;
  color: rgb(12, 77, 56);
  margin-top: 10px;
  position: relative;
}

.mezo-title::before {
  content: "";
  background: url(/images/PTAKI\ LICENCJA.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.4;
}

.mezo-text {
  margin-top: 25px;
  width: 1200px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Raleway", sans-serif;
}

.mezo-text span {
  color: rgb(84, 178, 149);
  font-weight: bold;
}

.first-paragraph {
  line-height: 30px;
}

.third-paragraph {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 70px;
  line-height: 30px;
  gap: 100px;
}

.third-paragraph .right-column, .left-column {
  border: 1px solid rgb(145, 222, 198);
  border-radius: 5px;
  box-shadow: 2px 2px 16px rgb(168, 234, 213);
  padding: 30px;
}

.third-paragraph h2 {
  margin-bottom: 20px;
  color: rgb(84, 178, 149);
  font-size: 22px;
}

li strong{
    color: rgb(84, 178, 149);;
}

.third-paragraph ul {
  list-style: none;
  padding-left: 0;
}

.third-paragraph ul li {
  position: relative;
  padding-left: 50px;
  margin-bottom: 15px;
}

.third-paragraph ul li::before {
  content: "";
  position: absolute;
  left: 15px;
  top: 5px; 
  width: 20px;
  height: 20px;
  background-image: url(/images/diamond-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.reaction-box {
  margin-top: 60px;
  padding: 25px;
  background-color: #fffafa;
  border-left: 5px solid rgb(84, 178, 149); 
  border-radius: 5px;
  line-height: 28px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.03);
}

@media (max-width: 1250px) {
  .mezo-text { width: 800px; }
}

@media (max-width: 860px) {
  .mezo-text { width: 90%; }
  .third-paragraph {
    grid-template-columns: 1fr;
    gap: 40px;
    margin-top: 40px;
  }
}